<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(name, title)">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="js/jquery.qrcode.min.js"></script>
<script th:src="${'/js/' + name + '.js'}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="${'/css/common.css'}" />
<link rel="stylesheet" th:href="${'/css/' + name +'.css'}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">
<title th:text="${'スタッフ呼出順管理 | ' + title}"></title>
</head>

</html>