@charset "UTF-8";

ul {
	list-style: none;
	padding-left: 0;
}

ul.list-striped {
	margin-bottom: 1rem;
}

ul.list-striped>li:nth-child(odd) {
	background: rgba(0, 0, 0, .08);
}

li.list-group-item {
	padding: 0.5rem 0.5rem;
}

ol {
	padding-left: 1rem;
}

.margin-left {
	margin-left: 40px;
}

#group {
	width: 21rem;
}

.url-label {
	width: 8rem;
}