@charset "UTF-8";

ul {
	list-style: none;
	padding-left: 0;
}

.list-striped>li:nth-child(odd) {
	background: rgba(0, 0, 0, .08);
}

li.list-group-item {
	padding: 0.5rem 0.5rem;
}

ol {
	padding-left: 1rem;
}

#group {
	width: 21rem;
}

.url-label {
	width: 6rem;
}

.btn {
	white-space: normal;
	margin-top: 0.1rem;
}