@charset "UTF-8";

#group {
	width: 21rem;
}

.main-content {
	width: fit-content;
}

.table td, .table th {
	padding: 0.3rem;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	max-width: 50vw;
	overflow: auto;
}

ul {
	list-style: none;
	padding: unset;
}

li {
	margin-bottom: 1rem;
}

#url {
	display: none;
}