@charset "UTF-8";

table td, table th {
	padding: 0.3rem;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	max-width: 50vw;
	overflow: auto;
}

thead>tr, tbody>tr:nth-child(even) {
	background: rgba(0, 0, 0, .08);
}

ul {
	list-style: none;
	padding: unset;
}

.wrap {
	white-space: normal;
}