<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head(name='index', title='トップ')">
</head>

<body>
	<h1 th:replace="fragments/template :: title"></h1>

	<ul>
		<li>簡易的な順番管理システムです。</li>
		<li>勉強用に作成しました。</li>
	</ul>

	<input id="group" th:value="${group}" type="hidden" readonly />

	<h2>使い方</h2>
	<ol>
		<li>URLを共有
			<button id="qrcode_button">QRコード</button>
			<button id="url_button">URLをコピー</button>
			<div id="copied">コピーしました</div>
		</li>
		<li><a id="user_link">順番待ち受付</a>で座席番号を入力して受付</li>
		<li><a id="staff_link">順番待ち一覧</a>で確認</li>
	</ol>

	<h2>注意事項</h2>
	<ul class="striped wrap">
		<li>JavaScript利用のため、無効設定は解除してください。</li>
		<li>受付から24時間経過したデータは自動削除されます。</li>
		<li>グループIDや座席番号はURLで保持するため、通信ログに残ります。個人情報の入力はお控えください。</li>
		<li>グループIDが全利用者で完全一致する必要があります。URLは厳密に共有してください。</li>
		<li>グループIDを特定されると第三者が操作できます。セキュリティ重視の場合はご利用をお控えください。</li>
		<li>このシステムは、事前予告無しに仕様変更や稼働停止の可能性があります。また、このシステムによる、いかなる損害や不利益の責任は負いかねます。予めご了承ください。</li>
	</ul>

	<h2>クレジット表記</h2>
	<ul class="striped">
		<li><div>QRコードの生成</div> <a
			href="https://github.com/davidshimjs/qrcodejs" target="_blank">davidshimjs/qrcodejs</a></li>
		<li><div>呼出一覧画面のチャイム</div> <a
			href="https://on-jin.com/sound/index.php" target="_blank">On-Jin～音人～「チャイム・インターホン02」</a></li>
	</ul>

	<h2>連絡先</h2>
	<ul>
		<li>ご意見・ご要望は下記までご連絡ください。</li>
		<li><div>rally.elspあぁっとおぉgmail.com</div></li>
	</ul>

	<hr>

	<div id="modal">
		<div id="qrcode"></div>
	</div>

</body>
</html>