<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/template :: head(name='staff', title='順番待ち一覧')">
</head>

<body>
	<h1 th:replace="fragments/template :: title"></h1>

	<h2>順番待ち一覧</h2>
	<ul>
		<li class="box"><label for="group">グループID</label> <input
			id="group" th:value="${group}" readonly></li>
		<li>※<span id="ajax_refresh_cycle"
			th:text="${ajax_refresh_cycle}"></span>秒毎に自動更新
		</li>
		<li><input id="chime_check" type="checkbox" /> <label
			for="chime_check">順番待ち発生時にチャイムを鳴らす</label></li>
		<li>
			<table id="calls">
				<thead>
					<tr>
						<th>座席番号</th>
						<th>受付日時</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</li>
	</ul>
	<hr>
</body>
</html>