<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/template :: head(name='staff', title='スタッフ')">
</head>

<body>
	<script>
		$(function() {
			var group = $("#group").val();

			var fn = {};
			fn.ajax = function(url, seat, success) {
				$.ajax({
					url : url,
					type : "POST",
					data : {
						group : group,
						seat : seat
					}
				}).done( data => success( data));
			}

			var timeout;
			var audio = new Audio("chime.mp3");

			fn.updateCalls = function( isUseingChime) {
				fn.ajax("/getCalls", "", function(calls) {
					$("#calls tr").not("#caption").remove();
					calls.forEach( function( call){
						var seat = call.seat;
						var time = call.callTime;

						var row = "<tr>";
						row += "<td>" + seat + "</td>";
						row += "<td>" + time + "</td>";
						row += "<td><button id='"+seat+"' class='btn btn-danger'>削除</button></td>";
						row += "</tr>";
						$("#calls").append(row);

						var message = "「" + seat + "」を削除しますか？";
						const updateCalls = () => fn.updateCalls( false);
						const deleteCall = () => fn.ajax( "deleteCall", seat, updateCalls);
						$("#" + seat).on("click", () => confirm( message) && deleteCall());
					});

					clearTimeout(timeout);
					timeout = setTimeout( () => fn.updateCalls( true), 30000);

					if( isUseingChime && calls.length > 0 && $("#chime_check").is(":checked")){
						audio.play();
					}
				});
			}

			fn.updateCalls( false);

			var url = $("#url").text() + group;
			$("#qr_code").qrcode({text:url});
			$("#staff_qr").on("click", () => $("#modal").fadeIn());
			$("#modal").on( "click", () => $("#modal").fadeOut());
		});
	</script>

	<h1>スタッフ呼出順管理</h1>

	<dl class="form-group">
		<dt>
			スタッフ用ページ <img id="staff_qr" src="qr_code.png" />
		</dt>
		<dd>
			<ul>
				<li>
					<div class="form-inline">
						<label for="group">グループID</label> <input id="group"
							class="form-control" th:value="${group}" readonly>
					</div>
				</li>
				<li><input id="chime_check" type="checkbox" /> <label
					for="chime_check">呼出発生時にチャイムを鳴らす</label></li>
				<li>
					<table id="calls" class="table table-striped table-bordered">
						<tr id="caption">
							<th>座席番号</th>
							<th>呼出時刻</th>
							<th>-</th>
						</tr>
					</table>
				</li>
			</ul>



		</dd>
	</dl>

	<span id="url" th:text="${staff}"></span>

	<div id="modal">
		<div id="qr_code"></div>
	</div>

</body>
</html>