<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/template :: head(name='staff', title='スタッフ')">
</head>

<body>
	<h1>
		<img src="favicon.ico"><span>スタッフ呼出順管理</span>
	</h1>

	<dl class="main-content">
		<dt>
			スタッフ用ページ <img id="staff_qr" src="qr_code.png" />
		</dt>
		<dd>
			<ul>
				<li>
					<div class="form-inline">
						<label for="group">グループID</label> <input id="group"
							class="form-control" th:value="${group}" readonly>
					</div>
				</li>
				<li>※30秒毎に自動更新<br> <input id="chime_check" type="checkbox" />
					<label for="chime_check">呼出発生時にチャイムを鳴らす</label></li>
				<li>
					<table id="calls" class="table table-striped table-bordered">
						<tr id="caption">
							<th>座席番号</th>
							<th>呼出時刻</th>
							<th>-</th>
						</tr>
					</table>
				</li>
			</ul>
		</dd>
	</dl>

	<span id="url" th:text="${staff}"></span>

	<div id="modal">
		<div id="qr_code"></div>
	</div>

	<hr>

</body>
</html>