<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head(title='ユーザ')">
</head>

<style>
#modal, #qr_code {
	position: absolute;
}

#modal {
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	width: 100%;
	display: none;
}

#qr_code {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

canvas {
	width: 80vmin;
}

#user_qr {
	width: 30px;
}
</style>

<body>
	<script>
		$(function() {
			var group = $("#group").text();
			var seat = $("#seat").text();

			var fn = {};

			fn.ajax = function( url, success){
				$.ajax({
					url : url,
					type : "POST",
					data : { group : group, seat : seat}
				}).done( data => success( data));
			}

			fn.check = function(){
				const isEmpty = ( str => str== null || str=='');
				if( !isEmpty( group) && !isEmpty( seat)){
					fn.ajax( "/getNumberOfWaiting", function(num) {
						if (num > 0) {
							$("#number_of_waiting").text(num);
							$("#message").show();
							$("#call_button").hide();
							setTimeout( fn.check, 30000);
						} else {
							$("#message").hide();
							$("#call_button").show();
						}
					});
				}
			}

			$("#call_button").on("click", function() {
				fn.ajax( "/callStaff", fn.check);
			});

			fn.check();

			var url = $("#url").text() + group;
			$("#qr_code").qrcode({text:url});
			$("#user_qr").on("click",() => $("#modal").fadeIn());
			$("#modal").on("click", () => $("#modal").fadeOut());
		});
	</script>

	<h1>スタッフ呼出順管理</h1>
	<h2>
		ユーザ用ページ<img id="user_qr" src="qr_code.png" />
	</h2>

	<table>
		<tr>
			<td>グループID</td>
			<td><span id="group" th:text="${group}"></span></td>
		</tr>
		<tr>
			<td>座席番号</td>
			<td><span id="seat" th:text="${seat}"></span>
				<form action="/user" method="get" th:if="${#strings.isEmpty(seat)}">
					<input type="hidden" name="group" th:value="${group}"> <input
						type="text" name="seat"> <input type="submit" value="OK">
				</form></td>
		</tr>
	</table>

	<p th:if="${! #strings.isEmpty(seat)}">
	<div>
		<button id="call_button" style="display: none">呼出</button>
		<div id="message" style="display: none">
			呼び出し中です。しばらくお待ち下さい。 (あと<span id="number_of_waiting"></span>人)
		</div>
	</div>

	<span id="url" th:text="${user}" style="display: none;"></span>

	<div id="modal">
		<div id="qr_code"></div>
	</div>

</body>
</html>