<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head(name='user', title='ユーザ')">
</head>

<body>
	<script>
		$(function() {
			var group = $("#group").val();
			var seat = $("#seat").val();

			var fn = {};

			fn.ajax = function( url, success){
				$.ajax({
					url : url,
					type : "POST",
					data : { group : group, seat : seat}
				}).done( data => success( data));
			}

			fn.check = function(){
				const isEmpty = ( str => str== null || str=='');
				if( !isEmpty( group) && !isEmpty( seat)){
					fn.ajax( "/getNumberOfWaiting", function(num) {
						if (num > 0) {
							$("#number_of_waiting").text(num);
							$("#message").show();
							$("#call_button").hide();
							setTimeout( fn.check, 30000);
						} else {
							$("#message").hide();
							$("#call_button").show();
						}
					});
				}
			}

			$("#call_button").on("click", function() {
				fn.ajax( "/callStaff", fn.check);
			});

			fn.check();

			var url = $("#url").text() + group;
			$("#qr_code").qrcode({text:url});
			$("#user_qr").on("click",() => $("#modal").fadeIn());
			$("#modal").on("click", () => $("#modal").fadeOut());
		});
	</script>

	<h1>スタッフ呼出順管理</h1>
	<dl class="form-group">
		<dt>
			ユーザ用ページ <img id="user_qr" src="qr_code.png" />
		</dt>
		<dd>
			<form action="/user" method="get">
				<table>
					<tr>
						<td><label for="group">グループID</label></td>
						<td><input id="group" name="group" th:value="${group}"
							class="form-control" readonly></td>
						<td></td>
					</tr>
					<tr>
						<td><label for="seat">座席番号</label></td>
						<td><input id="seat" name="seat" th:value="${seat}"
							class="form-control" th:readonly="${! #strings.isEmpty(seat)}"></td>
						<td><input type="submit" value="OK" class="btn btn-secondary"
							th:if="${#strings.isEmpty(seat)}"></td>
					</tr>
					<tr th:if="${! #strings.isEmpty(seat)}">
						<td></td>
						<td><button id="call_button" class="btn btn-primary">呼出</button>
							<div id="message">
								呼び出し中です。<br>あなたの順番まで<span id="number_of_waiting"></span>人（30秒毎に自動更新）
							</div></td>
						<td></td>
					</tr>
				</table>
			</form>

		</dd>
	</dl>


	<span id="url" th:text="${user}"></span>

	<div id="modal">
		<div id="qr_code"></div>
	</div>

</body>
</html>