<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head(name='user', title='ユーザ')">
</head>

<body>
	<h1 th:replace="fragments/template :: title"></h1>

	<dl class="main-content">
		<dt>
			ユーザ用ページ <img id="user_qr" src="qr_code.png" />
		</dt>
		<dd>
			<form action="/user" method="get">
				<div class="form-group form-inline">
					<label class="label" for="group">グループID</label> <input id="group"
						name="group" th:value="${group}" class="form-control" readonly>
				</div>

				<div class="form-group form-inline">
					<label class="label" for="seat">座席番号</label> <input id="seat"
						name="seat" th:value="${seat}" class="form-control"
						th:readonly="${! #strings.isEmpty(seat)}">
				</div>

				<div class="align-right" th:if="${#strings.isEmpty(seat)}">
					<input id="ok_button" type="submit" value="OK"
						class="btn btn-secondary">
				</div>


				<div class="align-right" th:if="${! #strings.isEmpty(seat)}">
					<button id="call_button" class="btn btn-primary">呼出</button>

					<label id="message" class="align-left"> 呼び出し中です。<br>あなたの順番まで
						<span id="number_of_waiting"></span>人（30秒毎に自動更新）
					</label>
				</div>
			</form>
		</dd>
	</dl>

	<span id="url" th:text="${user}"></span>

	<div id="modal">
		<div id="qr_code"></div>
	</div>

	<hr>

</body>
</html>